<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.2" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.11.2" targetFramework="net472" />
  <package id="AWSSDK.Polly" version="3.7.5.9" targetFramework="net472" />
  <package id="NAudio" version="1.5" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="WMPLib" version="1.0.0" targetFramework="net472" developmentDependency="true" />
</packages>